<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="layout">
	<head>
		<title>Inscription</title>
		
		<style type="text/css">
		
			.error{
				color: #993333;
			}
			
			.text-red {
				color: #993333;
			}
			.success{
				color: #339933;
			}
			
			#errorResult, #successResult{
				margin: 10px 20px;
				padding: 5px 5px;
				font-size: 16px;
			}
		
		</style>
	</head>
	<body>
		<div layout:fragment="content">
			<div id="errorResult" th:if="${errorMsg}" th:text="${errorMsg}" th:class="error"></div>
			<div id="successResult" th:if="${successMsg}" th:text="${successMsg}" th:class="success"></div>
			<div class="panel col-md-5">
				<div class="panel panel-primary">
					<div class="panel-heading" th:text="#{label.profile}">Formulaire d'inscription</div>
					<div class="panel-body">
	
						<form action="home" th:action="@{/profile}" th:method="put" th:object="${user}">
						<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="error">Informations erronées</p>
						<!-- 
							<div class="form-group has-feedback">
								<input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur" /> 
								<span class="glyphicon glyphicon-user form-control-feedback"></span>
							</div>
						 -->
						 	<div th:classappend="${#fields.hasErrors('username')}? 'has-error'" class="form-group has-feedback">
								<input type="text" th:field="*{username}" class="form-control" name="username" placeholder="Nom d'utilisateur"/>
								<span class="glyphicon glyphicon-user form-control-feedback"></span>
								<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:class="error">Nom d'utilisateur non accepté</p>
							</div>
							
							<!-- 
							<div class="form-group has-feedback">
								<input type="text" class="form-control" name="email" placeholder="Courriel" /> 
								<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
							</div>
							 -->
							<div th:classappend="${#fields.hasErrors('email')}? 'has-error'" class="form-group has-feedback">
								<input type="text" th:field="*{email}" class="form-control" name="email" placeholder="Courriel"/>
								<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
								<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="text-red">Courriel non accepté</p>
							</div>
							
							<!--  
							<div class="form-group has-feedback">
								<input type="email" class="form-control" name="username"
									placeholder="Email" /> <span
									class="glyphicon glyphicon-envelope form-control-feedback"></span>
							</div>
							-->
							<div th:classappend="${#fields.hasErrors('password')}? 'has-error'" class="form-group has-feedback">
								<input type="password" th:field="*{password}" class="form-control" name="password" placeholder="Mot de passe" />
								<span class="glyphicon glyphicon-lock form-control-feedback"></span>
								<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="text-red">Mot de passe non accepté</p>
							</div>
							
							<!--  
							<div class="form-group has-feedback">
								<input type="password" class="form-control" name="password" placeholder="Mot de passe" />
								<span class="glyphicon glyphicon-lock form-control-feedback"></span>
							</div>
							-->
							
							<div class="row">
								<div class="form-group col-xs-offset-8 col-xs-4">
									<button type="submit" class="btn btn-primary btn-block btn-flat" th:text="#{label.save}">S'inscrire</button>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="alert alert-info alert-dismissable">
										<p>
											<i class="icon fa fa-info"></i> 
											<span th:text="#{message.register.fields}">* Vou devez remplir tous les champs</span>
										</p>
									</div>
									<div th:if="${param.error}" class="alert alert-danger alert-dismissable">
										<p>
											<i class="icon fa fa-ban"></i> 
											<span th:text="#{message.login.error}">Mot de passe et/ou courriel non valide(s)</span>
										</p>
									</div>
									<div th:if="${param.logout}"
										class="alert alert-info alert-dismissable">
										<p>
											<i class="icon fa fa-info"></i> 
											<span th:text="#{message.logout.success}">Vous avez été déconnecté</span>
										</p>
									</div>
									<div th:if="${msg != null}" class="alert alert-warning alert-dismissable">
										<p>
											<i class="icon fa fa-warning"></i> <span th:text="${msg}"></span>
										</p>
									</div>
								</div>
	
							</div>
						</form>
					</div>
				</div>
	
			</div>
	
		</div>
	</body>
</html>
